@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

body{
    font-family: 'Source Sans 3', sans-serif;
}
.container{
    @apply max-w-full md:w-8/12 lg:w-10/12 md:px-0 px-3 mx-auto;
}

.st{
    @apply md:mt-32 mt-16
}
.primary-btn{
    @apply btn 
}
.react-tabs__tab{

padding: 20px 35px !important;
}
.react-tabs__tab--selected{
background-color:#F7A582 !important;
font-weight: 600;
border-radius: 8px !important;
}
.banner-bg{
    background-image: url("./assets/Home/Banner/banner-vector-1.png"),url("./assets/Home/Banner/tablet-2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, center center;
}
.banner-cirele-bg{
    background-image: url("./assets/Home/Banner/circle.png");
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 16px !important;
    font-weight: 600 !important;
}

.swiper-button-next, .swiper-button-prev{
    color: #F7A582 !important;
    font-size: 12px !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 25px !important;
    border: 1px solid #F7A582;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    background-color: #F7A582 !important;
    color: white !important;
}

.login-bg{
    background-image: url("./assets/Login/bg-login.png");
    background-position: top right;
    background-repeat: no-repeat;
}


.viewDocBg{
    background-image: url("./assets/ViewDocBannerShape/Vector.png"),url("./assets/Home/Banner/tablet-2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right center;
    background-size: 180px ;
  

}
.appointmentBg{
    background-image: url("./assets/appointment/landing-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% ;
}


@media only screen and (max-width: 500px){
    .banner-bg{
        background-size: 150px, 100px;
        background-position: top left, 75% 25%;
    }
    .login-bg{
        background-size: 200px;
    }
    .viewDocBg{
        background-size: 80px ;

    }
   
}


.gradient-icon {
    background: linear-gradient(to right, #ff0000, #00ff00); /* Replace with your desired gradient colors */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }